@font-face {
  font-family: "Qurova";
  src: url("/fonts/QurovaDEMO-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Qurova";
  src: url("/fonts/QurovaDEMO-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Qurova";
  src: url("/fonts/QurovaDEMO-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
